@font-face {
  font-family: "blog"; /* Project id 4467242 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1748428007086') format('woff2'),
       url('iconfont.woff?t=1748428007086') format('woff'),
       url('iconfont.ttf?t=1748428007086') format('truetype');
}

.blog {
  font-family: "blog" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.blog-link6:before {
  content: "\e76c";
}

.blog-link7:before {
  content: "\e606";
}

.blog-link8:before {
  content: "\e610";
}

.blog-pdf:before {
  content: "\e64c";
}

.blog-skin-yellow:before {
  content: "\e63a";
}

.blog-skin-blue:before {
  content: "\e645";
}

.blog-skin-red:before {
  content: "\e658";
}

.blog-skin-green:before {
  content: "\e65f";
}

.blog-skin-purple:before {
  content: "\e66d";
}

.blog-comment-yellow:before {
  content: "\e653";
}

.blog-comment:before {
  content: "\fc1d";
}

.blog-rocket:before {
  content: "\eca7";
}

.blog-icon:before {
  content: "\e608";
}

.blog-sound-off-red:before {
  content: "\e61a";
}

.blog-code:before {
  content: "\e697";
}

.blog-sound-off:before {
  content: "\e61d";
}

.blog-music:before {
  content: "\e641";
}

.blog-earth:before {
  content: "\e6e9";
}

.blog-website-blue:before {
  content: "\e605";
}

.blog-monkey:before {
  content: "\e61c";
}

.blog-website-red:before {
  content: "\e639";
}

.blog-website-green:before {
  content: "\e632";
}

.blog-menu-barbecue:before {
  content: "\e602";
}

.blog-menu-noodle:before {
  content: "\e603";
}

.blog-menu-equal:before {
  content: "\e604";
}

.blog-moon-star:before {
  content: "\e650";
}

.blog-sun-smile:before {
  content: "\e601";
}

.blog-sun:before {
  content: "\e62d";
}

.blog-home-yellow:before {
  content: "\e60b";
}

.blog-tag-yellow2:before {
  content: "\e633";
}

.blog-tag-green:before {
  content: "\f5b8";
}

.blog-home-red:before {
  content: "\f5b9";
}

.blog-macbook:before {
  content: "\e600";
}

.blog-tag:before {
  content: "\e60c";
}

.blog-home:before {
  content: "\ea6c";
}

.blog-camera:before {
  content: "\e6f1";
}

.blog-search:before {
  content: "\f5b7";
}

.blog-login:before {
  content: "\e675";
}

.blog-smile:before {
  content: "\e63e";
}

.blog-info:before {
  content: "\e696";
}

