@use "theme" as *;

html, body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  font-size: var(--font-size);

  color: var(--text-color);
  z-index: 0;

  * {
    font-family: var(--font-family) !important;
    box-sizing: border-box;
  }

  /* 设置滚动条轨道的样式 */
  ::-webkit-scrollbar {
    width: 6px; /* 设置滚动条宽度 */
  }

  /* 设置滚动条的轨道背景颜色 */
  ::-webkit-scrollbar-track {
    //background-color: #f1f1f1;
    border-radius: 6px;
  }

  /* 设置滚动条的滑块颜色 */
  ::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-color);
    border-radius: 6px;

    &:hover {
      background-color: var(--scrollbar-hover-color);
    }
  }
}

#root {
}

#loading {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 200px;
    animation: rotation 1.2s infinite linear;

    @keyframes rotation {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(-360deg);
      }
    }
  }
}
